
src/BulkyBook/BulkyBookWeb/bin/Debug/net6.0/db.db
src/BulkyBook/.vs/BulkyBook/FileContentIndex/0ec61c83-2127-4ff2-a600-5ed9f910560f.vsidx
src/BulkyBook/.vs/BulkyBook/FileContentIndex/d7f944ef-4593-4220-bf75-72ad2a6d6f2d.vsidx
